.container {
  height: 100%;
  overflow: scroll;
  border-radius: 12px;
  background-color: #343540;

  display: flex;
  flex-direction: column;
}

.container::-webkit-scrollbar {
  display: none;
}

.formWrapper {
  padding: 20px;
  margin: 20px;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: scroll;
}

.formWrapper::-webkit-scrollbar {
  display: none;
}

.inputContainer {
  display: flex;
  gap: 10px;
}

.label {
  flex: 1;
  cursor: pointer;
  margin-block: 10px;
}

.inputContainer > div {
  flex: 1;
  padding: 0px;
  padding-inline: 10px;
  border-radius: 8px;
  border: none;
  background: transparent;
  box-shadow: none !important;
  border-color: transparent !important;
}

.tag {
  background-color: rgb(32, 33, 35) !important;
  padding: 10px !important;
  border-radius: 8px !important;
}

.input {
  flex: 1;
  outline: none;
  border: none;
  background-color: rgb(32, 33, 35);
  padding: 10px;
  border-radius: 8px;
  min-width: 50px;
  transition: none !important;
}

.input:focus {
  outline: 4px solid rgb(32, 33, 35);
}

.submitButton {
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(32, 33, 35);
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.submitButton:hover {
  background-color: rgb(63, 64, 75);
}

.radioInput {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
}

/* The userTypeContainer */
.userTypeContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

/* Hide the browser's default radio button */
.userTypeContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

  height: 100%;
  width: 100%;
}

/* Create a custom radio button */
.userTypeCheckmark {
  background-color: rgb(32, 33, 35);
  box-sizing: content-box;
  padding: 10px;
  border-radius: 8px;
  transition: none !important;
}

/* On mouse-over, add a background color */
.userTypeContainer:hover input ~ .userTypeCheckmark {
  background-color: rgb(63, 64, 75);
}

/* When the radio button is checked, add a background */
.userTypeContainer input:checked ~ .userTypeCheckmark {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 750px) {
  .container {
    border-radius: 0px;
  }

  .formWrapper {
    margin-block: 40px 0px;
    margin-inline: 30px;
  }

  .inputContainer {
    flex-direction: column;
  }

  .label {
    margin: 0;
  }

  .input {
    padding-block: 20px;
  }
}
