.container {
  height: 100%;
  overflow: scroll;
  padding: 20px;
  border-radius: 12px;
  background-color: #343540;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container::-webkit-scrollbar {
  display: none;
}

.item {
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(63, 64, 75);
  transition-duration: 0.3s;
}

.item:hover {
  background-color: rgb(42, 43, 54);
}

.selectedItem {
  background-color: rgb(32, 33, 35);
}

.selectedItem:hover {
  background-color: rgb(32, 33, 35);
}

@media only screen and (max-width: 750px) {
  .container {
    border-radius: 0px;
  }
}
